@use '../variables' as *;
@use '../mixin' as *;

.details {
  padding-top: 0;
  padding-bottom: 180px;

  @include on-tablet {
    padding-bottom: 120px;
  }

  @include on-mobile {
    padding-bottom: 80px;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-inline: 120px;

    @include on-mobile {
      gap: 48px;
      padding-inline: 20px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-text;

    @include on-mobile {
      font-size: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;

    @include on-mobile {
      gap: 48px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-mobile {
      gap: 16px;
    }

    &-title {
      margin-top: 24px;
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 140%;
      color: $color-text;
    }

    &-text {
      max-width: 672px;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: $color-text;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    gap: 24px;

    @include on-mobile {
      gap: 20px;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    height: 340px;

    &--wide {
      width: 672px;
    }

    &--narrow {
      width: 324px;
    }

    @include on-tablet {
      height: 187px;

      &--wide {
        width: 392px;
      }

      &--narrow {
        width: 184px;
      }
    }

    @include on-mobile {
      width: calc(50% - 10px);
      height: 130px;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    width: 100%;

    .button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 324px;
      height: 56px;
      margin-top: 48px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100px;
      background-color: #fff;
      color: #1d1d1d;
      border: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      cursor: pointer;
      text-decoration: none;
      transition:
        box-shadow 0.3s ease,
        transform 0.1s ease;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
      }

      &:active {
        box-shadow: 0 0 25px 4px rgba(255, 255, 255, 0.8);
        transform: translateY(1px);
      }

      @include on-tablet {
        width: 392px;
      }

      @include on-mobile {
        width: 278px;
      }
    }
  }
}
