@use '../variables' as *;
@use '../mixin' as *;

.move-free {
  padding-top: 120px;
  padding-bottom: 164px;
  color: $color-text;

  @include on-tablet {
    padding-top: 120px;
    padding-bottom: 132px;
  }

  @include on-mobile {
    padding-top: 60px;
    padding-bottom: 92px;
  }

  &__container {
    margin: 0 auto;
    padding-inline: 120px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 100%;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-mobile {
      flex-direction: column;
      gap: 32px;
      padding-inline: 20px;
    }
  }

  &__title {
    width: 411px;
    margin: 0;
    flex: 0 0 411px;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet {
      flex: 0 0 288px;
      font-size: 48px;
    }

    @include on-mobile {
      flex: none;
      width: 100%;
      font-size: 32px;
    }
  }

  &__text {
    margin: 0;
    width: 498px;
    flex: 0 0 498px;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;

    @include on-tablet {
      flex: 0 0 288px;
      font-size: 23px;
    }

    @include on-mobile {
      flex: none;
      width: 100%;
    }
  }
}
