.container {
  max-width: 1260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
